@import "styles/vars";

.Logo {
  cursor: pointer;
  flex-shrink: 0;
}

.Links {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 870px) {
    display: none;
  }
}

.Links span:not(:last-child) {
  margin-right: 10px;
}

.Link a {
  text-decoration: none;
  color: $blackColor;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: color .2s ease-in-out;

  &:hover {
    color: $primaryColor;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 870px) {
    display: none;
  }
}

.LinkBtn {
  display: block;
  background-color: $primaryColor;
}

.Socials {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    cursor: pointer;
    fill: $blackColor;
    transition: fill .3s ease-in-out;
  }

  svg:hover {
    fill: $primaryColor;
  }
}

.headerContainer {
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  width: 100%;
  background-color: $bgColor;
  height: $hHeader;
  border-bottom: 1px solid $colorBorderBottom;
  position: fixed;
  top: 0;
  z-index: 20;

  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    svg {

    }
  }
}