@import "styles/vars";

.partnersBlock {
  padding: 100px 0;
  background-color: $colorBgBlock;
}

.partners {
  overflow-y: hidden;
  min-width: unset;
  display: flex;
  gap: 70px;
  margin-right: 70px;
}
.partner {
  width: 200px;
}