@import "styles/vars";

.button {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  background-color: $primaryColor;
  border-radius: 18px;
  letter-spacing: .2px;
  line-height: 20px;
  height: 55px;
  font-size: 16px;
  color: $whiteColor;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
  &:hover {
    background-color: #043bb7;
  }
  &:active {
    background-color: #00267c;
  }
}