.ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.li {
  margin-top: 20px;
}

.subtitle {
  color: #9f9f9f;
  font-size: 14px;
}

.title {
  margin-top: 8px;
  color: #202020;
  font-size: 20px;
  font-weight: 800;
  line-height: 130%;
}

.text {
  margin-top: 8px;
  font-size: 16px;
  line-height: 140%;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
}