@import "styles/vars";

.hero {
  position: relative;
  color: $whiteColor;
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}
.content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.upper {
  h1 {
    font-weight: 800;
    font-size: 46px;
    line-height: 115%;

    @media (max-width: 540px) {
      font-size: 30px;
    }
  }
  p {
    margin-top: 19px;
    font-weight: 400;
    font-size: 16px;
    color: #e3e2e2;
    line-height: 150%;
  }
}
.bottom {
  margin-top: 180px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgImage {
}