//variables
$blackColor: #303030;
$grayColor: #676767;
$whiteColor: #fafafa;
$primaryColor: #0C46C6;
$hoverColor: #043bb7;
$hHeader: 72px;
$bgColor: #F2F3F6;
$colorBgBlock: #EBEEF5;
$colorBorderBottom: #e1e1e1;
$colorFocusInput: #c1d2f7;
