@import "styles/vars";

.Contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;

  .left {
    .upper {


      .buttons{

      }
    }

    .bottom {


      .socials {

      }
    }
  }

  .right {

  }
}